
#course_transfer_courseselection_selected {
    min-height: 25px;
    display: block;
}

#course_transfer_courseselection_selected .badge {
    font-weight: bold;
    
}
#course_transfer_courseselection_selected .badge .close {
    float: none;
    line-height: 10px;
    vertical-align: sub;
}

.course_transfer_datatable {
    margin: 0px;
}

.course_transfer_datatable th {
    padding-top: 0px;
    padding-right: 17px;
}

.course_transfer_datatable tfoot th {
    padding: 0px !important;
}

.course_transfer_datatable th .filter_datatable {
    width: calc(100% - 5px);
    display: block;
    padding: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: -1px;
    border-top: 0 none;
    background-color: #FFFFFF;
}
.course_transfer_datatable th select.filter_datatable{
    height: 24px;
}

.course_transfer_datatable tbody td.select-checkbox {
    cursor: pointer;
}
.course_transfer_datatable tbody td.col-nbitemtograde {
    text-align: center;
}
.course_transfer_datatable tbody td.col-moreinfo {
    text-align: center;
    cursor: pointer;
}
.course_transfer_datatable tbody td.col-courseurl,
.course_transfer_datatable tbody td.col-deleteurl {
    text-align: center;
}

/*added selector to the UL section*/
.dataTables_paginate ul.pagination {
    border-radius: 4px;
    box-shadow: none;
    display: inline-block;
    margin: 0;
}
.dataTables_paginate ul.pagination ul > li {
    display: inline;
}
.dataTables_paginate ul.pagination > li > a,
.dataTables_paginate ul.pagination > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}
.dataTables_paginate ul.pagination > li > a:hover, 
.dataTables_paginate ul.pagination > li > a:focus, 
.dataTables_paginate ul.pagination > .active > a, 
.dataTables_paginate ul.pagination > .active > span {
    background-color: #f5f5f5;
}
.dataTables_paginate ul.pagination > .active > a, 
.dataTables_paginate ul.pagination > .active > span {
    color: #999;
    cursor: default;
}
.dataTables_paginate ul.pagination > .disabled > span, 
.dataTables_paginate ul.pagination > .disabled > a, 
.dataTables_paginate ul.pagination > .disabled > a:hover, 
.dataTables_paginate ul.pagination > .disabled > a:focus {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.dataTables_paginate ul.pagination > li:first-child > a, 
.dataTables_paginate ul.pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.dataTables_paginate ul.pagination > li:last-child > a, 
.dataTables_paginate ul.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
/*end adding selector to the UL section*/

table.dataTable td.select-checkbox::before, table.dataTable td.select-checkbox::after {
    top: 50%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px !important;
    margin: 0;
    border: 0px none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px none !important;
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled) a {
    color: #0094a0;
}

.dataTables_wrapper .pagination ul {
    box-shadow: none;
}